.navbar-header{
	padding-left: 15px;

}
ul.nav.navbar-nav.navbar-right{
	padding-right: 15px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: white;
	background-color: #2d2d2d;
}
ul.nav.nav-tabs{
	background-color: #2d2d2d;
	color: #ffffff;
}
.nav-tabs>li>a{
	color: #ffffff;
}
.nav>li>a:focus, .nav>li>a:hover{
	background-color: #999;
}
.tab-content{
	background-color:#2d2d2d;
	color: #ffffff;
}

.container-fluid{
	padding-right: 0;
	padding-left: 0;
}
.jumbotron{
	margin-top: 50px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	background: url(../images/poncho.jpg);


}
.container .jumbotron, .container-fluid .jumbotron{
	padding-right: 0px;
	padding-left: 0px;
	border-radius: 0;
}
.tab-pane{
	padding: 15px;
}
.card-submit{
	margin-top: 10px;
}
.left-ban{
	height: 350px;
}
.right-ban{
	height: 350px;
}